.static-top .top-brand{
	 height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.bg-gradient-menu{
	     background-color: #5f2525;
    background-image: linear-gradient(180deg, #9e3859 10%, #8e2c39 100%);
    background-size: cover;
}